workflows/n8n_workflow.json
{
  "name": "Job Application & Resume Tailoring Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-ingest",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "node-1-webhook-discovery",
      "name": "Stage 1: Job Discovery Webhook"
    },
    {
      "parameters": {
        "command": "=python src/evaluator.py --profile source_profile.json --job \"{{ JSON.stringify($json.body || $json) }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "id": "node-2-evaluation-gate",
      "name": "Stage 2: Evaluation Gate (Python)"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ JSON.parse($json.stdout).passed }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "node-3-if-pass-gate",
      "name": "Stage 2: Score >= 70%?"
    },
    {
      "parameters": {
        "command": "=python src/tailor_llm.py --provider groq --job \"{{ JSON.stringify($('Stage 1: Job Discovery Webhook').item.json.body || $('Stage 1: Job Discovery Webhook').item.json) }}\" --output \"output_resumes/tailored_{{ $('Stage 1: Job Discovery Webhook').item.json.job_id || $('Stage 1: Job Discovery Webhook').item.json.body.job_id }}.json\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        940,
        280
      ],
      "id": "node-4-llm-resume-tailor",
      "name": "Stage 3: LLM Resume Tailoring (Groq Llama 3.3 70B)"
    },
    {
      "parameters": {
        "command": "=python src/generate_pdf.py --profile \"output_resumes/tailored_{{ $('Stage 1: Job Discovery Webhook').item.json.job_id || $('Stage 1: Job Discovery Webhook').item.json.body.job_id }}.json\" --job-id \"{{ $('Stage 1: Job Discovery Webhook').item.json.job_id || $('Stage 1: Job Discovery Webhook').item.json.body.job_id }}\" --output \"output_resumes/{{ $('Stage 1: Job Discovery Webhook').item.json.job_id || $('Stage 1: Job Discovery Webhook').item.json.body.job_id }}_Resume.pdf\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1180,
        280
      ],
      "id": "node-5-pdf-compiler",
      "name": "Stage 4: PDF Compiler"
    },
    {
      "parameters": {
        "command": "=python src/notify_discord.py --pdf \"output_resumes/{{ $('Stage 1: Job Discovery Webhook').item.json.job_id || $('Stage 1: Job Discovery Webhook').item.json.body.job_id }}_Resume.pdf\" --score \"{{ JSON.parse($('Stage 2: Evaluation Gate (Python)').item.json.stdout).score }}\" --job \"{{ JSON.stringify($('Stage 1: Job Discovery Webhook').item.json.body || $('Stage 1: Job Discovery Webhook').item.json) }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1400,
        280
      ],
      "id": "node-6-hitl-notification",
      "name": "Stage 5: Discord HITL Notification"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1620,
        280
      ],
      "id": "node-7-wait-approval",
      "name": "Stage 5: Wait for Human Approval Webhook"
    },
    {
      "parameters": {
        "command": "=python src/apply_playwright.py --url \"{{ $('Stage 1: Job Discovery Webhook').item.json.apply_url || $('Stage 1: Job Discovery Webhook').item.json.body.apply_url }}\" --profile \"output_resumes/tailored_{{ $('Stage 1: Job Discovery Webhook').item.json.job_id || $('Stage 1: Job Discovery Webhook').item.json.body.job_id }}.json\" --pdf \"output_resumes/{{ $('Stage 1: Job Discovery Webhook').item.json.job_id || $('Stage 1: Job Discovery Webhook').item.json.body.job_id }}_Resume.pdf\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1840,
        280
      ],
      "id": "node-8-playwright-autofill",
      "name": "Stage 5: Playwright Auto-Fill & Review"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "rejected_by_evaluator"
            },
            {
              "name": "reason",
              "value": "Job score below 70% threshold"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        940,
        480
      ],
      "id": "node-9-rejected-log",
      "name": "Log Rejected Job"
    }
  ],
  "connections": {
    "Stage 1: Job Discovery Webhook": {
      "main": [
        [
          {
            "node": "Stage 2: Evaluation Gate (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2: Evaluation Gate (Python)": {
      "main": [
        [
          {
            "node": "Stage 2: Score >= 70%?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2: Score >= 70%?": {
      "main": [
        [
          {
            "node": "Stage 3: LLM Resume Tailoring (Groq Llama 3.3 70B)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejected Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3: LLM Resume Tailoring (Groq Llama 3.3 70B)": {
      "main": [
        [
          {
            "node": "Stage 4: PDF Compiler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 4: PDF Compiler": {
      "main": [
        [
          {
            "node": "Stage 5: Discord HITL Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 5: Discord HITL Notification": {
      "main": [
        [
          {
            "node": "Stage 5: Wait for Human Approval Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 5: Wait for Human Approval Webhook": {
      "main": [
        [
          {
            "node": "Stage 5: Playwright Auto-Fill & Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "id": "job-apply-pipeline-v1"
}
