workflows/n8n_workflow.json
{
  "name": "Job Application & Resume Tailoring Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-ingest",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "node-1-webhook-discovery",
      "name": "Stage 1: Job Discovery Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Stage 2: Native Evaluation Gate in n8n\nconst job = $json.body || $json;\n\n// Bypass overlap calculation if job is pre-evaluated by the discovery script\nif (job.score !== undefined && job.passed !== undefined) {\n  return {\n    json: {\n      job_id: job.job_id || \"job_101\",\n      title: job.title || \"Target Job\",\n      company: job.company || \"Target Company\",\n      apply_url: job.apply_url || job.url || \"\",\n      score: job.score,\n      passed: job.passed,\n      matched_skills: job.matched_skills || [],\n      missing_skills: job.missing_skills || []\n    }\n  };\n}\n\nconst coreSkills = [\n  \"Python\", \"Java\", \"JavaScript\", \"C/C++\", \"C#/.NET\", \"SQL\",\n  \"Scikit-learn\", \"TensorFlow\", \"PyTorch\", \"XGBoost\", \"NumPy\", \"Pandas\",\n  \"FastAPI\", \"React\", \"Node.js\", \"AWS\", \"PostgreSQL\", \"Firebase\", \"MySQL\", \"Git\"\n];\n\nconst jobTitle = (job.title || \"\").toLowerCase();\nconst jobDesc = (job.description || \"\").toLowerCase();\nconst fullJobText = jobTitle + \" \" + jobDesc;\n\nlet matchedSkills = [];\nlet missingSkills = [];\n\nfor (const skill of coreSkills) {\n  if (fullJobText.includes(skill.toLowerCase())) {\n    matchedSkills.push(skill);\n  } else {\n    missingSkills.push(skill);\n  }\n}\n\nconst score = Math.round((matchedSkills.length / Math.max(coreSkills.length, 1)) * 100 * 1.5);\nconst finalScore = Math.min(Math.max(score, 40), 100);\nconst passed = finalScore >= 70;\n\nreturn {\n  json: {\n    job_id: job.job_id || \"job_101\",\n    title: job.title || \"Target Job\",\n    company: job.company || \"Target Company\",\n    apply_url: job.apply_url || job.url || \"\",\n    score: finalScore,\n    passed: passed,\n    matched_skills: matchedSkills,\n    missing_skills: missingSkills\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "id": "node-2-evaluation-gate",
      "name": "Stage 2: Evaluation Gate (Native Code)"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.passed }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "node-3-if-pass-gate",
      "name": "Stage 2: Score >= 70%?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen2.5:7b\",\n  \"temperature\": 0.2,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a precise resume tailoring engine. Output ONLY valid JSON matching the user's schema. DO NOT invent, fabricate, or exaggerate work experience, metrics, or dates. Reorder and rephrase existing bullet points from the source profile to align with job description keywords.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Job Description: {{ $json.body.description || $json.description }}\\n\\nSource Profile: {{ JSON.stringify($node['Stage 2: Evaluation Gate (Native Code)'].json.profile || $node['Stage 2: Evaluation Gate (Native Code)'].json) }}\"\n    }\n  ]\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        940,
        280
      ],
      "id": "node-4-llm-resume-tailor",
      "name": "Stage 3: LLM Resume Tailoring (Ollama Qwen2.5)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"JobApply AI Assistant\",\n  \"embeds\": [\n    {\n      \"title\": \"\ud83c\udfaf New Matching Job Application Found!\",\n      \"color\": 3066993,\n      \"fields\": [\n        {\n          \"name\": \"\ud83c\udfe2 Company\",\n          \"value\": \"{{ $('Stage 2: Evaluation Gate (Native Code)').item.json.company }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"\ud83d\udcbc Title\",\n          \"value\": \"{{ $('Stage 2: Evaluation Gate (Native Code)').item.json.title }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"\ud83d\udcca Match Score\",\n          \"value\": \"**{{ $('Stage 2: Evaluation Gate (Native Code)').item.json.score }}%**\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"\ud83d\udd17 Apply URL\",\n          \"value\": \"{{ $('Stage 2: Evaluation Gate (Native Code)').item.json.apply_url }}\",\n          \"inline\": false\n        }\n      ]\n    }\n  ]\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1380,
        280
      ],
      "id": "node-6-hitl-notification",
      "name": "Stage 5: Discord HITL Notification"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1600,
        280
      ],
      "id": "node-7-wait-approval",
      "name": "Stage 5: Wait for Human Approval Webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "rejected_by_evaluator"
            },
            {
              "name": "reason",
              "value": "Job score below 70% threshold"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        940,
        480
      ],
      "id": "node-9-rejected-log",
      "name": "Log Rejected Job"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !$json.error }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1160,
        280
      ],
      "id": "node-5-ollama-success-check",
      "name": "Stage 3: Ollama Succeeded?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a precise resume tailoring engine. Output ONLY valid JSON matching the user's schema. DO NOT invent, fabricate, or exaggerate work experience, metrics, or dates. Reorder and rephrase existing bullet points from the source profile to align with job description keywords.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Job Description: {{ $('Stage 1: Job Discovery Webhook').item.json.body.description || $('Stage 1: Job Discovery Webhook').item.json.description }}\\n\\nSource Profile: {{ JSON.stringify($node['Stage 2: Evaluation Gate (Native Code)'].json.profile || $node['Stage 2: Evaluation Gate (Native Code)'].json) }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"response_format\": { \"type\": \"json_object\" }\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1160,
        480
      ],
      "id": "node-10-groq-fallback",
      "name": "Stage 3: LLM Resume Tailoring Fallback (Groq)"
    }
  ],
  "connections": {
    "Stage 1: Job Discovery Webhook": {
      "main": [
        [
          {
            "node": "Stage 2: Evaluation Gate (Native Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2: Evaluation Gate (Native Code)": {
      "main": [
        [
          {
            "node": "Stage 2: Score >= 70%?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2: Score >= 70%?": {
      "main": [
        [
          {
            "node": "Stage 3: LLM Resume Tailoring (Ollama Qwen2.5)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejected Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3: LLM Resume Tailoring (Ollama Qwen2.5)": {
      "main": [
        [
          {
            "node": "Stage 3: Ollama Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3: Ollama Succeeded?": {
      "main": [
        [
          {
            "node": "Stage 5: Discord HITL Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stage 3: LLM Resume Tailoring Fallback (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3: LLM Resume Tailoring Fallback (Groq)": {
      "main": [
        [
          {
            "node": "Stage 5: Discord HITL Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 5: Discord HITL Notification": {
      "main": [
        [
          {
            "node": "Stage 5: Wait for Human Approval Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "id": "job-apply-pipeline-v1"
}