workflows/n8n_workflow.json
{
  "name": "Job Application & Resume Tailoring Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-ingest",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "node-1-webhook-discovery",
      "name": "Stage 1: Job Discovery Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Stage 2: Native Evaluation Gate in n8n\nconst coreSkills = [\n  \"Python\", \"Java\", \"JavaScript\", \"C/C++\", \"C#/.NET\", \"SQL\",\n  \"Scikit-learn\", \"TensorFlow\", \"PyTorch\", \"XGBoost\", \"NumPy\", \"Pandas\",\n  \"FastAPI\", \"React\", \"Node.js\", \"AWS\", \"PostgreSQL\", \"Firebase\", \"MySQL\", \"Git\"\n];\n\nconst job = $json.body || $json;\nconst jobTitle = (job.title || \"\").toLowerCase();\nconst jobDesc = (job.description || \"\").toLowerCase();\nconst fullJobText = jobTitle + \" \" + jobDesc;\n\nlet matchedSkills = [];
let missingSkills = [];\n\nfor (const skill of coreSkills) {\n  if (fullJobText.includes(skill.toLowerCase())) {\n    matchedSkills.push(skill);\n  } else {\n    missingSkills.push(skill);\n  }\n}\n\nconst score = Math.round((matchedSkills.length / Math.max(coreSkills.length, 1)) * 100 * 1.5);\nconst finalScore = Math.min(Math.max(score, 40), 100);\nconst passed = finalScore >= 70;\n\nreturn {\n  json: {\n    job_id: job.job_id || \"job_101\",\n    title: job.title || \"Target Job\",\n    company: job.company || \"Target Company\",\n    apply_url: job.apply_url || \"\",\n    score: finalScore,\n    passed: passed,\n    matched_skills: matchedSkills,\n    missing_skills: missingSkills\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "id": "node-2-evaluation-gate",
      "name": "Stage 2: Evaluation Gate (Native Code)"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.passed }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "node-3-if-pass-gate",
      "name": "Stage 2: Score >= 70%?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert ATS optimizer and resume writer. Reorder and rephrase bullet points from the candidate profile to fit the job description with zero hallucination. Output raw valid JSON matching source_profile layout.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Job Title: {{ $json.title }}\\nCompany: {{ $json.company }}\\nDescription: {{ $('Stage 1: Job Discovery Webhook').item.json.description || $('Stage 1: Job Discovery Webhook').item.json.body.description }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"response_format\": { \"type\": \"json_object\" }\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        940,
        280
      ],
      "id": "node-4-llm-resume-tailor",
      "name": "Stage 3: LLM Resume Tailoring (Groq Llama 3.3 70B)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"JobApply AI Assistant\",\n  \"embeds\": [\n    {\n      \"title\": \"🎯 New Matching Job Application Found!\",\n      \"color\": 3066993,\n      \"fields\": [\n        {\n          \"name\": \"🏢 Company\",\n          \"value\": \"{{ $('Stage 2: Evaluation Gate (Native Code)').item.json.company }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"💼 Title\",\n          \"value\": \"{{ $('Stage 2: Evaluation Gate (Native Code)').item.json.title }}\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"📊 Match Score\",\n          \"value\": \"**{{ $('Stage 2: Evaluation Gate (Native Code)').item.json.score }}%**\",\n          \"inline\": true\n        },\n        {\n          \"name\": \"🔗 Apply URL\",\n          \"value\": \"{{ $('Stage 2: Evaluation Gate (Native Code)').item.json.apply_url }}\",\n          \"inline\": false\n        }\n      ]\n    }\n  ]\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1180,
        280
      ],
      "id": "node-6-hitl-notification",
      "name": "Stage 5: Discord HITL Notification"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1400,
        280
      ],
      "id": "node-7-wait-approval",
      "name": "Stage 5: Wait for Human Approval Webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "rejected_by_evaluator"
            },
            {
              "name": "reason",
              "value": "Job score below 70% threshold"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        940,
        480
      ],
      "id": "node-9-rejected-log",
      "name": "Log Rejected Job"
    }
  ],
  "connections": {
    "Stage 1: Job Discovery Webhook": {
      "main": [
        [
          {
            "node": "Stage 2: Evaluation Gate (Native Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2: Evaluation Gate (Native Code)": {
      "main": [
        [
          {
            "node": "Stage 2: Score >= 70%?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2: Score >= 70%?": {
      "main": [
        [
          {
            "node": "Stage 3: LLM Resume Tailoring (Groq Llama 3.3 70B)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejected Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3: LLM Resume Tailoring (Groq Llama 3.3 70B)": {
      "main": [
        [
          {
            "node": "Stage 5: Discord HITL Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 5: Discord HITL Notification": {
      "main": [
        [
          {
            "node": "Stage 5: Wait for Human Approval Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "id": "job-apply-pipeline-v1"
}
